body a:active{position:relative;}
@media screen and (max-width:767px){
    body p{
        font-size:18px;
        line-height:29px;
    }
}
.container{max-width:1080px;margin-left:auto;margin-right:auto;padding:0 20px;}
.container::after{clear:both;content:"";display:table;}
@media screen and (min-width:768px) and (max-width:1067px){
    .container{
        padding:0;max-width:690px;
    }
}
@media screen and (max-width:767px){
    .container{
        padding:0 7.5%;
    }
}
.app-link{cursor:pointer;}
.defaultText{font-size:1.125em;line-height:1.75;}
.product-home__points{color:#18191B;padding:50px 0;text-align:center;background:#F7F7F8;}
.product-home__points.bg-white{
    background:#1d224c;
}
.product-home__points .container{max-width:960px;}
.product-home__points .points__header{
    color:#56C271;
    font:2.25em/1.3 AvenirNext-DemiBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0 0 40px;
}
@media screen and (min-width:768px){
.product-home__points{padding:90px 0;}
.product-home__points .points__header{font-size:2.75em;line-height:1.05;margin-bottom:60px;}
}
.product-home__points .points__list{
    list-style-type:none;
    padding:0;
    margin:0 0 10px;
    overflow:hidden;
}
.product-home__points .points__list li{
    margin:0 0 40px;
}
@media screen and (min-width:768px){
    .product-home__points .points__list li{
        display:inline-block;
        vertical-align:top;
        width:33.3%;
        padding:0 2%;
        box-sizing:border-box;
        float:left;
        margin-bottom:50px;
    }
}
.product-home__points .points__list span{
    display:block;
    background:#FDE785;
    width:70px;
    font-size:2em;
    line-height:70px;
    border-radius:50%;
    margin:0 auto 25px;
}
.product-home__points .points__list h3 {
    text-transform:none;
    letter-spacing:0;
    font-size:1em;
    line-height:1.7;
    margin:0;
}
.product-home__points .points__list p {
    margin:0;
    color: rgba(255, 255, 255, 0.35);
}
.product-home__points .points__list a {
    margin-right: 35%;
}
.product-home__points a.pill-button.hidden{display:none;}
.product-home__points.style2 .points__header{color:#fff;}
.product-home__points.style2 .points__list span{background:#10CFC9;color:#fff;}
.button.main {
    font-size: 12px;
    background-color: #FF6B00;
    color: #fff!important;
}