@media screen and (max-width:767px){
    body p{
        font-size:18px;
        line-height:29px;
    }
}

@media screen and (min-width:768px) and (max-width:1067px){
    .container{
        padding:0;
        max-width:690px;
    }
}

@media screen and (max-width:767px){
    .container{
        padding:0 7.5%;
    }
}

@media screen and (min-width:768px){
    .product-home__points{padding:20px 0;}
    .product-home__points .points__header{font-size:2em;line-height:1.05;}
}

@media screen and (min-width:768px){
    .product-home__points .points__list li{
        width:25%;
        padding:0 2%;
        box-sizing:border-box;
        float:left;
        margin-bottom:50px;
    }
}

body a:active{position:relative;}

.container{max-width:1080px;margin-left:auto;margin-right:auto;}
.container::after{clear:both;content:"";display:table;}


.app-link{cursor:pointer;}
.product-home__points{
    color:#1d224c;
    padding:50px 0;
    text-align:left;
    font-size: 14px;
}
.product-home__points .container{max-width:960px;}

.product-home__points .points{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0 0 10px;
    overflow:hidden;
}
.product-home__points .points__list li{
    margin:0 0 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-home__points .points__list .points__image {
    margin-left: -15%;
}

/* .product-home__points .points__list span{
    display:block;
    background:#FDE785;
    width:70px;
    font-size:2em;
    line-height:70px;
    border-radius:50%;
    margin:0 auto 25px;
} */
.product-home__points .points__list a {
    margin-right: 35%;
}
.product-home__points a.pill-button.hidden{display:none;}
.product-home__points.style2 .points__header{color:#F5333F; margin-bottom: 15px;}
.product-home__points.style2 .points__list span{background:#10CFC9;color:#fff;}
.button.main {
    font-size: 12px;
    background-color: #FF6B00;
    color: #fff!important;
}

.row-direction {
    display: flex;
    flex-direction: row;
}

h1.title {
    font-family: 'Montserrat' Black;
    font-size: 55pt
}